<section class="contenedor">
  <h2>PUBLICAR NUEVA NOTICIA</h2>

  <form [formGroup]="reactiveForm" (ngSubmit)="cargaDatos()">
    <div>
      <input
        type="text"
        name="titulo"
        placeholder="Titulo"
        formControlName="titulo"
      />
    </div>

    <input
      type="url"
      name="imagen"
      placeholder="URL de la imagen"
      formControlName="imagen"
    />

    <textarea
      name="texto"
      placeholder="Texto de la noticia"
      formControlName="texto"
    ></textarea>

    <input
      type="date"
      name="fecha"
      formControlName="fecha"
    />

    <button type="submit" >Publicar</button>

    <!--<p class="error">Todos los campos son obligatorios</p>-->
  </form>

  <hr />
  <h2>LISTADO DE NOTICIAS</h2>
  <div>
    <div>
      <h3>{{ noticiaTitulo }}</h3>
    </div>

    <div class="imagenes">
      <img src="{{ noticiaImagen }}" alt="imagen" />
    </div>

    <div>
      <p>{{ noticiaTexto }}</p>
    </div>
    <div>
      <p><strong>Fecha:</strong>{{ noticiaFecha }}</p>
    </div>
  </div>
</section>
